.backgroundHomePlaying {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #302B31;
}

.backgroundContainer {
    position: relative;
}

.middleSquareContainer {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.middleSquare {
    position: fixed;
    width: 1000px;
    height: 500px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #FFFFFF;
}

.barsPlaying {
    position: relative;
    width: 299px;
    height: 30px;
    margin: 15px;
    display: flex;
    align-items: center;
    background: #DFDEDE;
    border-radius: 20px;
    border: none;
}

.titlePlaying{
    position: relative;
    font-family: Vollkorn;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
}